@import url("//fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900");

*{
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: #EBE8E7;
    }


/*side navbar*/
.btn {
    position: absolute;
    top: 15px;
    left: 45px;
    height: 45px;
    width: 45px;
    text-align: center;
    background: #1b1b1b;
    border-radius: 3px;
    cursor: pointer;
    transition: left 0.4s ease;
}

.btn.click {
    left: 360px;
}

.btn span {
    color: white;
    font-size: 28px;
    line-height: 45px;
}

.btn.click span:before {
    content: '\f00d';
}

.sidebar {
position: fixed;
width: 350px;
height: 100%;
left: -350px;
background: #1b1b1b;
transition: left 0.4s ease;
}

.sidebar.show {
    left: 0px;
}

.sidebar .text {
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #1e1e1e;
    letter-spacing: 1px;
}

nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: #7A77B9;
    background: #1e1e1e;
    border-left-color:#7A77B9; 
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .feat-show.show {
    display: block;
}


nav ul .serv-show.show1 {
    display: block;
}


nav ul ul li {
    line-height: 42 px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #7A77B9;
    padding-left: 80px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent; 
}

nav ul ul li a:hover {
    color: #7A77B9!important;
    background: #1e1e1e!important;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}
/*side navbar*/



/* banner*/
.top-logo {
    position: absolute;
    float: right;
    top: 10px;
    right: 30px;
} 
/* banner*/



/*content*/
.container{
    display: block;
}

.row {
    display: grid;
    grid-gap: 10px;
    margin: 60px 60px;
    grid-template-areas: 
    'inside-planning inside-banner';   
}

.inside-planning {
grid-area: inside-planning;
}

.inside-banner{
    grid-area: inside-banner;
}

.h4{
    font-size: 24px;
    padding: 10px 50px;
    color: #FF0000;
    font-family: "work sans", sans-serif;
    text-align: start;
    text-decoration: underline;
    text-transform: uppercase;
}

.h6 {
    font-size: 16px;
    margin: 30px 50px;
    color: #002D82 ;
    font-family: "work sans", sans-serif;
    text-align: start;
    text-decoration: underline;
    text-transform: uppercase;
}

.p{
    font-size: 16px;
    padding: 10px 50px;
    color: black;
    font-family: "work sans", sans-serif;
    text-align: justify;
    font-weight: 500;
}

.b{
    text-decoration: underline;
    text-transform: capitalize;
    font-weight: 600;
}

.i{
    color: #055CFF ;
    padding-left: 50px;
}

.ul{
    font-size: 16px;
    margin: 20px 50px;
    color: black;
    font-family: "work sans", sans-serif;
    text-align: justify;
    font-weight: 500;
}


.ul li{
    font-size: 16px;
    color: black;
    font-family: "work sans", sans-serif;
    text-align: justify;
    font-weight: 500;
    margin: 20px 60px;
}

.ul li ul{
    margin: 20px 10px;
}
/*content*/


/* footer */
footer  {
    position: relative;
    bottom: 0px;
    width: 100%;
    background: #7A77B9;
    margin: 0%;
    padding: 0%;
    color: white;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 1.125rem;
    font-weight: 700;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content::before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background:#7A77B9 ;
}

.box .content::after {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 15%;
    background: rgb(99, 214, 183) ;
}

.left .content p {
 text-align: justify;
 font-weight: 500;
}

.left .content .social{
    margin: 20px 0 0 0;
}

.left .content .social a{
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px ; 
    width: 40px;
    background: rgb(99, 214, 183);
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: white;
    transition: 0.3s;
    border-radius: 5px;   
}

.left .content .social a span:hover {
    background: #f12020 ;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: rgb(99, 214, 183);
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 12px;
    font-weight: 500;
    padding-left: 10px;
}


.center .content .text {
    text-align: justify;
    padding: 10px;
}

.center .content .text:hover {
    font-size: 1.0625rem;
    font-weight: 600;
}

.center .content .phone {
    margin: 10px 0;
}

.right .content .form .text {
    font-size: 1.0625rem;
    font-weight: 600;
    margin-bottom: 2px;
    color: white;
}

.right .content .form .msg {
    margin-top: 10px;
}

.right .content .form input, .right .content .form textarea {
    width: 100%;
    font-size: 1.0625rem;
    font-weight: 600;
    background: #EBE8E7;
    padding-left: 10px;
    border: 1px solid #222222;
    transition: ease 0.3s;
}

.right .content .form input:focus,
.right .content .form textarea:focus {
    outline-color: #3498db ;
}

.right .content .form input {
    height: 35px;
}

.right .content .form textarea {
    height: 60px;
}

.right .content .form .submit-btn {
    margin-top: 10px;
}

.right .content .form .submit-btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    color: white;
    background: rgb(99, 214, 183);
    font-size: 1.0625rem;
    font-weight: 600;
    cursor: pointer;
    transition: .3s;
}

.right .content .form .submit-btn button:hover {
    background: #f12020;
}

.bottom .center {
    padding: 5px;
    font-size: 0.9375rem;
    font-weight: bolder;
    background: #7A77B9;
    margin: 0px 400px;
}

.bottom .center span {
    color: white;
}

.bottom .center a {
    color: rgb(99, 214, 183);
    text-decoration: none;
}

.bottom .center a:hover {
    color: #f12020;   
}

.logo {
    padding-top: 10px;
    padding-bottom: -20px;
    padding-left: 50px;
}
/* for footer */




@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
    footer .bottom .center {
        position: relative;
        bottom: 0px;
        margin: 0px; 
    }
    .img{
        width: 500px;
        height: 200px;
    }
    .container-blogs {
        display: block;
        margin: 20px;
    }    
    .row {
        display: grid;
        grid-gap: 10px;
        margin-top: 30px;
        margin-right: 100px;
        margin-left: 20px;
        margin-bottom: 30px;
        grid-template-areas: 
        'inside-planning' 
         'inside-banner';   
    }    
    .top-logo {
        width: 40px;
        height: 40px;
    } 
    .service-banner{
        height: 300px;
        width: 400px;
    }
    .inside-planning {
        margin: 20px 30px;
        }        
    .inside-banner{
        margin: 20px 30px;
    }
    .h4{
        font-size: 24px;
        padding: 5px 5px;
    }    
    .h6 {
        font-size: 16px;
        padding: 5px 5px;
        margin-left: 10px;
    }    
    .p{
        font-size: 16px;
        padding: 5px 5px;
    }    
    .i{
        padding-left: 10px;
    }
    .ul{
        font-size: 16px;
        margin: 30px 20px;
    }        
    .ul li{
        font-size: 16px;
        margin: 30px 30px;
    }
    .ul li ul{
        margin: 20px 20px;
    }
}